<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <header id="top">
        <nav class="navbar navbar-inverse navbar-fixed-top cbp-af-header">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#top">
                        <img src="~/Images/site-logo.png" />
                        Brand
                    </a>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#Sights">Sights</a></li>
                        <li><a href="#Sports">Sports</a></li>
                        <li><a href="#Activites">Activites</a></li>
                        <li><a href="#Contact">Contact Us</a></li>
                        <li><a id="moveNext">Move to next</a></li>


                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>

    <div class="container-fluid" style="margin-top:10px;">

        <section class="row wow fadeInDown">
            <div class="fill-screen stellar-bg"
                 data-stellar-background-ratio="0.2"
                 style="background-image: url(../../Images/3.jpg)"></div>
            <div class="down-button">
                <a class="btn" href="#Sights">
                    <i class="fa fa-arrow-circle-down fa-4x"></i>
                </a>
            </div>
        </section>
        <section id="Sights" class="row text-banner">
            <h1> 1914 translation by H. Rackham </h1>
            <p>
                "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
            </p>
        </section>
        <section class="row">
            <div class="fill-screen fixed-attachement" style="background-image: url(../../Images/2.jpg)"></div>
        </section>
        <section id="Sports" class="row activity-section wow fadeInDown">
            <div class="activity-element col-md-4">
                <img src="~/Images/2a.jpg" class="wow slideInLeft" />
                <h2> The standard </h2>
                <p class="col-sm-10">
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
                </p>
            </div>
            <div class="activity-element col-md-4">
                <img src="~/Images/2a.jpg" />
                <h2> "On the other han </h2>
                <p class="col-sm-10">
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
                </p>
            </div>
            <div class="activity-element col-md-4">
                <img src="~/Images/2a.jpg" />
                <h2> weakness </h2>
                <p class="col-sm-10">
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
                </p>
            </div>

        </section>
        <section id="Activites" class="row stellar-bg wow fadeInDown" data-stellar-background-ratio="0.2">
            <div class="fill-screen fixed-attachement" style="background-image: url(../../Images/4.jpg)"></div>
        </section>
        <section id="Contact" class="row contact-us">

            <h1>Contact US</h1>
            <h3>Some wher in pune</h3>
            <p>ta distinctio. Nam libero tempore, cum soluta nobis est el </p>
            <p>ta distinctio. Nam libero tempore, cum soluta nobis est el </p>
            <p>ta distinctio. Nam libero tempore, cum soluta nobis est el </p>
        </section>
        <h3 id="yourHeaderID"></h3>
        <p class="your-paragraph-class"></p>
        <a id="yourAnchorID" href="#url"></a>
    </div>
    <footer class="container-fluid">
        <h1>footer</h1>
    </footer>

    <ol id="chooseID">
        @*/* data-id needs to be the same as the parent it will attach to */*@
        <li data-id="newHeader">Tip content...</li>


        <li>Tip content...</li>


        <li data-class="parent-element-class" data-options="tipLocation:top;tipAnimation:fade" data-button="Second Button">Content...</li>


        <li data-id="parentElementID" class="custom-class">Content...</li>
    </ol>
</body>
</html>

<script>
    $(document).ready(function () {
        //setTimeout(function () {
        //    toastr.options = {
        //        "closeButton": true,
        //        "debug": false,
        //        "newestOnTop": false,
        //        "progressBar": true,
        //        "positionClass": "toast-top-center",
        //        "preventDuplicates": false,
        //        "showDuration": "300",
        //        "hideDuration": "1000",
        //        "timeOut": "5000",
        //        "extendedTimeOut": "1000",
        //        "showEasing": "swing",
        //        "hideEasing": "linear",
        //        "showMethod": "fadeIn",
        //        "hideMethod": "fadeOut"
        //    }
        //    toastr.success('My name is Inigo Montoya. You killed my father, prepare to die!', 'Turtle Bay Resort')
        //}, 2000)


    });

    $(window).load(function () {

        $('#chooseID').joyride({
            autoStart: true,
            postStepCallback: function (index, tip) {
                if (index == 2) {
                    $(this).joyride('set_li', false, 1);
                }
            },
            modal: true,
            expose: true
        });
    });
</script>
